#parent{
    width: 400px;
    height: 300px;
    border: 2px solid blue;
    margin: 10px;
    padding-left: 20px;
}
button{
    width: 120px;
    height: 30px;
    background-color: rgb(142, 230, 142);
    padding-left: 20px;
}