#child{
    width: 400px;
    height: 300px;
    margin-left: 600px;
    border: 2px solid red;
}
  .button_1{
    width: 120px;
    height: 30px;
    background-color: rgb(142, 230, 142);
    padding-left: 20px;
    margin-left: 20px;
}